# Covid-19 Statistics Using Simulated Data

***

<br>

## Objectives of this Project

***

The objective of this project is to synthesise and simulate some data about Covid-19 cases in Ireland using the NumPy Random package and basing this off real data from sources such as the the World Health Organisation, the Central Statistics Office in Ireland (CSO), the Health Service Executive (HSE) in Ireland and GeoHive (Ireland's National Geospatial Data Hub). The sample size will be 100 and the variables that I will analyse will be:

- Age
- Gender
- Underlying Conditions
- Vaccination Status
- Hospitalisation
- Admission to ICU
- Death/Recovery

To breakdown this project and to start it, I am going to focus on the Age variable first. I will get some statistics from the web and get the age data simulated and put this into a Pandas DataFrame using NumPy. Because there is lots of data on Covid-19 in Ireland on the web from different time periods, I will be using as much of the data as I can from the beginning of the pandemic up until the present. I will use all of this data to create a simulated dataset that encapsulates the whole pandemic. The code will be such that the input variables for the data can be changed as time goes on and more data is available. The aim of the project is to be able to simulate data into the future and to possibly predict future trends in the pandemic.<br>

***

## Covid-19 in Ireland and the Rest of the World

***

I think that it is safe to say that anyone reading this notebook has firm enough grasp on what has been happening with this disease in the last 2 years. In December 2019 the first known case of the virus SARS-CoV-2 was identified in Wuhan, China. The disease has since spread worldwide, leading to an ongoing pandemic. [16] SARS-CoV-2 is a coronavirus. Each SARS-CoV-2 virion is 50â€“200 nanometres in diameter. Like other coronaviruses, SARS-CoV-2 has four structural proteins, known as the S (spike), E (envelope), M (membrane), and N (nucleocapsid) proteins; the N protein holds the RNA genome, and the S, E, and M proteins together create the viral envelope. [17]

![SARS-CoV-2](https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Coronavirus._SARS-CoV-2.png/768px-Coronavirus._SARS-CoV-2.png)<br>
**SARS-CoV-2 (virus)**

Symptoms of COVID-19 are variable, but often include fever, cough, headache, fatigue, breathing difficulties, and loss of smell and taste. Symptoms may begin one to fourteen days after exposure to the virus. COVID-19 transmits when people breathe in air contaminated by droplets and small airborne particles containing the virus. The risk of breathing these in is highest when people are in close proximity, but they can be inhaled over longer distances, particularly indoors. [16] The diagram below illustrates the Transmission and life-cycle of SARS-CoV-2 causing COVID-19.

![](https://upload.wikimedia.org/wikipedia/commons/4/48/Fphar-11-00937-g001.jpg)<br>
**Transmission and life-cycle of SARS-CoV-2 causing COVID-19**

## Age Groups

The first variable in the dataset that I am going to simulate is age. Using NumPy's Random module, I will use `numpy.random.Generator.choice` and `numpy.random.Generator.integers` to generate these ages. Using the data that is available, I will use the percentages of people within each age group that contract COVID-19 as the probability parameter in the `choice` random generator. I will then also use a series of if statements to decide which `integers` to use on them.<br>

From the CSO website, COVID-19 Deaths and Cases, Series 36: [04]. This data is from 16/11/2021 up to the 12/11/2021:

![Cases By Age-CSO](img/2021_12_01_18_27_25_covid_19_deaths_and_cases.png)

From HSE Epidemiology  of COVID-19 in  Ireland  -  14  day  report Summary  characteristics  of  confirmed  COVID-19  cases  notified  in Ireland from  24/11/2021  up  to  midnight on 07/12/2021:

![Cases By Age-HSE](img/2021_12_17_17_25_30-cidr_14_day_report_20211208.png)

Since the HSE site tell us a bit more about the age groups, I am going to use this data since it has more age groups. The percentages are slightly different to the CSO data when calculated as seen below which is a point of interest.

In [1]:
# Imports

# Numerical arrays
import numpy as np

# Pandas DataFrame
import pandas as pd

### Comparing the Percentages

Below I have calculated the percent cases by age groups from the CSO table since it was not provided. They turn out to be slightly different the HSE data, but as said above, I am going to use this data since it has more age groups.

In [2]:
# Age groups as a 1d NumPy array

age_groups_cso = (['0-14', '15-24', '25-44', '45-64', '65-79', '80+'])

In [3]:
age_cases_cso = ([80308, 96151, 160951, 110574, 33681, 16071])
total_age_cases_cso = 497736

In [4]:
# Function to calculate percentages [06]

def get_percent(numer, integer = False):
   percent = numer / total_age_cases_cso * 100
   
   if integer:
       return int(percent)
   return percent

In [5]:
# Calculate the percentages of cases for each age group [01]

for i, j in zip(age_cases_cso, age_groups_cso):
    percentage = get_percent(i)
    print(f"The percentage of age group {j} is {percentage}%")

The percentage of age group 0-14 is 16.134657730202356%
The percentage of age group 15-24 is 19.317670411623833%
The percentage of age group 25-44 is 32.33662021633958%
The percentage of age group 45-64 is 22.21539129176913%
The percentage of age group 65-79 is 6.766840252664062%
The percentage of age group 80+ is 3.228820097401032%

From the above data on the CSO website, I have created some variables and a pandas dataframe. I used NumPy Random Choice to with the various probabilities to simulate the data.

In [6]:
# Age groups as a 1d NumPy array

age_groups = (['0-4', '5-12', '13-18', '19-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84', '85+'])

In [7]:
age_cases = ([3397, 13560, 3878, 5454, 9124, 12081, 8276, 5328, 2810, 701, 161])
total_age_cases = 64780
probabilities = [0.052, 0.21, 0.06, 0.084, 0.141, 0.187, 0.128, 0.082, 0.043, 0.011, 0.002]

In [8]:
# Set the Random Number Generator with a seed value [07]

rng = np.random.default_rng(121)

In [9]:
# Generate a random sample from the age_cases array [08]

patient_ages = rng.choice(age_groups, size = 100, p = probabilities)
patient_ages

array(['35-44', '13-18', '45-54', '35-44', '35-44', '45-54', '25-34',
       '19-24', '5-12', '0-4', '45-54', '35-44', '55-64', '25-34',
       '45-54', '35-44', '35-44', '5-12', '35-44', '0-4', '35-44',
       '19-24', '45-54', '35-44', '25-34', '35-44', '35-44', '35-44',
       '5-12', '13-18', '35-44', '19-24', '25-34', '0-4', '45-54', '5-12',
       '55-64', '19-24', '13-18', '25-34', '45-54', '25-34', '45-54',
       '75-84', '45-54', '5-12', '45-54', '5-12', '65-74', '25-34',
       '13-18', '5-12', '13-18', '45-54', '5-12', '5-12', '19-24',
       '25-34', '45-54', '0-4', '5-12', '45-54', '5-12', '35-44', '0-4',
       '19-24', '35-44', '25-34', '45-54', '0-4', '19-24', '45-54',
       '35-44', '13-18', '19-24', '75-84', '35-44', '35-44', '5-12',
       '5-12', '5-12', '65-74', '5-12', '25-34', '5-12', '5-12', '5-12',
       '13-18', '5-12', '13-18', '45-54', '45-54', '35-44', '0-4', '5-12',
       '25-34', '65-74', '55-64', '65-74', '55-64'], dtype='<U5')

In [10]:
# Put the patient_ages array into a Pandas DataFrame [09]

dfcovid = pd.DataFrame(data = patient_ages, columns = ['Age Group'])
dfcovid

   Age Group
0      35-44
1      13-18
2      45-54
3      35-44
4      35-44
..       ...
95     25-34
96     65-74
97     55-64
98     65-74
99     55-64

[100 rows x 1 columns]

In [11]:
# Check the amount of 25-44 year olds in the dataset

dfcovid['Age Group'].value_counts()['5-12']

20

In [12]:
# Convert the age groups to actual ages [10]

def actual_ages (x):
   if x['Age Group'] == '0-4' :
      return rng.integers (0, 5, 1)
   elif x['Age Group'] == '5-12' :
      return rng.integers (5, 13, 1)
   elif x['Age Group'] == '13-18' :
      return rng.integers (13, 19, 1)
   elif x['Age Group'] == '19-24' :
      return rng.integers (19, 25, 1)
   elif x['Age Group'] == '25-34' :
      return rng.integers (25, 35, 1)
   elif x['Age Group'] == '35-44' :
      return rng.integers (35, 45, 1)
   elif x['Age Group'] == '45-54' :
      return rng.integers (45, 56, 1)
   elif x['Age Group'] == '55-64' :
      return rng.integers (55, 65, 1)
   elif x['Age Group'] == '65-74' :
      return rng.integers (65, 75, 1)
   elif x['Age Group'] == '75-84' :
      return rng.integers (75, 85, 1)
   else:
    return rng.integers (85, 100, 1)

In [13]:
# Use pd.DataFrame.apply to add the the actual ages to the dfcovid dataframe
# [10], [11], [12], [13]

dfcovid['Age'] = dfcovid.apply (lambda x: actual_ages(x), axis = 1)
dfcovid['Age'] = dfcovid['Age'].astype(int)
dfcovid

   Age Group  Age
0      35-44   43
1      13-18   15
2      45-54   48
3      35-44   39
4      35-44   42
..       ...  ...
95     25-34   34
96     65-74   65
97     55-64   59
98     65-74   71
99     55-64   60

[100 rows x 2 columns]

## Genders

According to the CSO site, around 49% of patients with Covid-19 are female [04]. Below I have used the NumPy Random package to simulate this date and added a column called gender to the dataframe.

In [14]:
# Ratio of Male to Female

males = 254330
females = 243277
total = males = females + males

ratio_females = females / total
ratio_females

0.48889384594670093

In [15]:
# Use rng.binomial to choose male or female [14]

patient_genders_binom = rng.binomial(1, ratio_females, 100)
patient_genders_binom

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

In [16]:
# Declare a the new array patient_genders_binom as a column [15]

dfcovid['Gender'] = patient_genders_binom
dfcovid

   Age Group  Age  Gender
0      35-44   43       0
1      13-18   15       0
2      45-54   48       1
3      35-44   39       1
4      35-44   42       0
..       ...  ...     ...
95     25-34   34       1
96     65-74   65       1
97     55-64   59       0
98     65-74   71       0
99     55-64   60       0

[100 rows x 3 columns]

In [17]:
# Function to turn the 1's and 0's into Genders [10]

def get_genders(x):
    if x['Gender'] == 0:
        return 'Male'
    else:
        return 'Female'

In [18]:
# Use pd.DataFrame.apply to add the the genders to the dfcovid dataframe
# [10], [11], [12], [13]

dfcovid['Gender'] = dfcovid.apply (lambda x: get_genders(x), axis = 1)
dfcovid.sort_values(by = ['Age'], inplace = True)
dfcovid.reset_index(drop = True, inplace = True)
dfcovid

   Age Group  Age  Gender
0        0-4    0    Male
1        0-4    0    Male
2        0-4    1    Male
3        0-4    3  Female
4        0-4    4  Female
..       ...  ...     ...
95     65-74   65  Female
96     65-74   66    Male
97     65-74   71    Male
98     75-84   77  Female
99     75-84   79  Female

[100 rows x 3 columns]

In [19]:
# Check the amount of Males in the dataset

dfcovid['Gender'].value_counts()['Male']

53

Here I have created a pandas dataframe that has an age group for each patient, their actual age and their gender according the the CSO statistics. The next column to create will be whether or not the patients have any underlying conditions.

## Underlying Health Conditions

## References

[01][DelftStack - Loop Through Multiple Lists in Python](https://www.delftstack.com/howto/python/how-to-loop-through-multiple-lists-in-python/)<br>
[02][COVID-19 Vaccination Uptake in IrelandWeekly Report ](chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=https%3A%2F%2Fwww.hpsc.ie%2Fa-z%2Frespiratory%2Fcoronavirus%2Fnovelcoronavirus%2Fvaccination%2Fcovid-19vaccinationuptakereports%2FCOVID-19%2520Vaccination%2520Uptake%2520in%2520Ireland%2520Weekly%2520Report%2520Week%252046%25202021.pdf&clen=484980&chunk=true)<br>
[03][geohive - ICU, Acute Hospital & Testing Data](https://covid19ireland-geohive.hub.arcgis.com/pages/hospitals-icu--testing)<br>
[04][CSO - COVID-19 Deaths and Cases, Series 36](https://www.cso.ie/en/releasesandpublications/br/b-cdc/covid-19deathsandcasesseries36/)<br>
[05][CSO - COVID-19 Vaccination Statistics Series 1](https://www.cso.ie/en/releasesandpublications/br/b-cvac/covid-19vaccinationstatisticsseries1/)<br>
[06][skillsugar.com - How to Calculate a Percentage in Python](https://www.skillsugar.com/how-to-calculate-a-percentage-in-python)<br>
[07][numpy.org - Random Generator](https://numpy.org/doc/stable/reference/random/generator.html)<br>
[08][numpy.org - Choice](https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.choice.html#numpy.random.Generator.choice)<br>
[09][pandas.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)<br>
[10][pandas.DataFrame.apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)<br>
[11][numpy.org - Integers](https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.integers.html#numpy.random.Generator.integers)<br>
[12][stackoverflow - Adding a column in pandas df using a function](https://stackoverflow.com/questions/40045632/adding-a-column-in-pandas-df-using-a-function)<br>
[13][statology.org - How to Convert Pandas DataFrame Columns to int](https://www.statology.org/pandas-convert-column-to-int/)<br>
[14][numpy.org - Binomial](https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.binomial.html#numpy.random.Generator.binomial)<br>
[15][re-thought.com - How to add new columns to Pandas dataframe?](https://re-thought.com/how-to-add-new-columns-in-a-dataframe-in-pandas/)<br>
[16][Wikipedia - Covid-19](https://en.wikipedia.org/wiki/COVID-19)<br>
[17][Wikipedia - Severe acute respiratory syndrome coronavirus 2](https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2)<br>
[][]()<br>
[][]()<br>
[][]()<br>
[][]()<br>
[][]()<br>
[][]()<br>
[][]()<br>

## Links to come back to
https://www.hpsc.ie/a-z/respiratory/coronavirus/novelcoronavirus/surveillance/covid-1914-dayepidemiologyreports/ <br>
chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=https%3A%2F%2Fwww.hpsc.ie%2Fa-z%2Frespiratory%2Fcoronavirus%2Fnovelcoronavirus%2Fsurveillance%2Fcovid-1914-dayepidemiologyreports%2FCIDR%252014%2520day%2520report%252020211208_Website.pdf&clen=845382&chunk=true <br>
chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=https%3A%2F%2Fwww.hpsc.ie%2Fa-z%2Frespiratory%2Fcoronavirus%2Fnovelcoronavirus%2Fsurveillance%2Fcovid-19intensivecareadmissions%2FCOVID-19_ICU_Weekly_Report_30.11.2021_website.pdf&clen=377610&chunk=true <br>
https://www.cso.ie/en/releasesandpublications/br/b-cdc/covid-19deathsandcasesseries36/ <br>
https://www.hpsc.ie/a-z/respiratory/coronavirus/novelcoronavirus/surveillance/underlyingconditionsreports/ <br>
chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=https%3A%2F%2Fwww.hpsc.ie%2Fa-z%2Frespiratory%2Fcoronavirus%2Fnovelcoronavirus%2Fsurveillance%2Funderlyingconditionsreports%2FUnderlying%2520conditions%2520summary_1.0v%252014122020.pdf&clen=188877&chunk=true <br>
<br>
<br>

## END